/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Open Sans', serif;
    line-height: 1.4;
}

.container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */

header {
    background: url(pictures/glasses-bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 30rem;
}

header nav {
    width: 960px;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: cadetblue;
    border: 1px solid #333;
    position: relative;
    top: 25px;
    border-radius: 5px;
}

header nav ul {
    display: inline-flex;
}

header nav ul li{
    margin: 10px;
    font-size: 1.5rem;
    color: #fff;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: .25s ease-in-out;
}

header nav ul li a:after {
    display:block;
    content: '';
    border-top: solid 3px #fff;
    transform: scaleX(0);  
    transition: transform 350ms ease-in-out;
    transform-origin:50% 50%
}
header nav ul li a:hover:after { 
    transform: scaleX(1);
    transform-origin:50% 50%;
}

header nav ul img {
    height: 1.5rem;
    margin: 1rem 1rem 1rem 2rem;
}


header .line {
    float: right;
    background: #fff;
    color: #000;
    font-size: 2rem;
    padding: 1.5rem 5rem;
    right: 5rem;
    line-height: 1.2;
    top: 10rem;
    border-radius: 20px;
    text-transform: uppercase;
    position: relative;
    font-family: helvetica;
    font-weight: bold;
    border: 2px solid #ccc;
}

/* MIDDLE */

.middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.middle .icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
}
.middle .icons .icon {
    margin: 10px;
    height: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.middle .icons .icon img{
    height: 4rem;
    width: auto;
    margin-bottom: .5rem;
}

.middle .icons .icon p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    
}


/* INFO */

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.info .info-box {
    width: 220px;
    margin-right: 5%;
    line-height: 1.2;
}

.info .info-box h4 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: helvetica;
    padding: .5rem 1.25rem;
    background-color: cadetblue;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 2%;
}

.info .info-box p {
    font-size: 1.1rem;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: #ccc;
    height: 60px;
    margin: 0 auto;
}

.footer p {
    display: inline-block;
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
    
}

.footer img {
    height: 1.5rem;
    margin-top: 16.5px;
    margin-left: 4rem;
    margin-right: 1rem;
    display: inline-block;
}

#menu {
    display: none;
    position: absolute;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 968px) {
    header nav {
        width: 100%;
    }
}

@media only screen and (max-width: 632px) {
    header nav ul li a{
        display: none;
        position: absolute;
    }
    
    #menu {
        display: inline-block;
        position: relative;
        padding: 0;
        margin-left: 0;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 0;
    }
    
}



























